<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include head.html %}
		</head>
		<body>
			<h4><a href="/"><img src="/img/smile.png" alt="logo" width="50" height="50"></a></h1>
			{% include navigation.html %}
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="">email</a></li>
	        		<li><a href="https://github.com/">github.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
